@using MbmStore.Models;
@{
    ViewBag.Title = "CustomerList";
}


<h1>Customers</h1>
@foreach (Customer customer in ViewBag.Customers)
{

    <div>
        <p>@customer.Firstname @customer.Lastname @string.Join(", ", @customer.PhoneNumbers) </p>
        <p>@customer.Address</p>
        <p>@customer.Zip @customer.City</p>
        <p>@customer.Firstname @customer.Lastname is @customer.Age</p>
        <br />
    </div>

}


